.container {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    align-items: center;
    box-shadow: 0 5px 6px 0 #000;
    padding: 30px 10px;
    border-radius: 6px;
    width: 400px;
    background: white;
    font-family: Roboto Condensed;
}

.h1 {
    color: Black;
    margin: 25px auto;
    font-size: 30px;
    font-weight: bold;
}

.img {
    width: 150px;
    height: 150px;
}

.input {
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid black;
    outline: none;
    font-weight: bold;
    width: 200px;
    font-family: Roboto Condensed;
}

.submitBtn {
    margin-top: 20px;
    margin-left: 85px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    background-color: black;
    color: white;
    outline: none;
    font-weight: bold;
    font-family: Roboto Condensed;
    cursor: pointer;
}

.containers {
  display: flex;
  margin: 80px auto;
  align-items: center;
  box-shadow: 0 5px 6px 0 #000;
  padding: 30px 10px;
  border-radius: 6px;
  width: 800px;
  height: 50vh;
  background: white;
  font-family: Roboto Condensed;
  flex-direction: column;
  overflow-y: scroll;
}

.left-col {
    display: flex;
    width: 600px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #ddd;
}

.center-col {
    margin: 10px;
    background: white;
    overflow-y: scroll;
    width: 600px;
    height: 50vh;
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  top: 5px;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.thead-dark {
  background: black;
  color: white;
}